@model Team
<h2>Add Team</h2>
 
<div class="jumbotron mb-5">
    <form method="post">
        <label asp-for="TeamName"></label>
        <input type="text" asp-for ="TeamName">
        <br><br>
        <input type="submit" value="save" class="btn btn-success">
 
    </form>
</div>