@model Team

<h2>Deleting team</h2>

<p>@Html.DisplayNameFor(t=>t.TeamName) : @Html.DisplayFor(t=>t.TeamName)</p>

@using (Html.BeginForm("Delete","Team",new{id=Model.TeamId},FormMethod.Post))
{
    <input type="submit" value="Delete">
}